ci:
  autoupdate_schedule: quarterly
  skip: [validate-typst, deno-fmt, deno-lint]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: ^assets/.+\.svg$
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: deno-fmt
        name: Format files using Deno
        entry: deno fmt
        types: [file]
        files: \.(js|ts|svelte|json|jsonc)$
        language: system

      - id: deno-lint
        name: Lint files using Deno
        entry: deno lint
        types: [file]
        files: \.(js|ts|svelte)$
        language: system

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        exclude_types: [svg]
        args: [--ignore-words-list, "noe,ket,ba,te,nd", --check-filenames]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, "--"]

  - repo: local
    hooks:
      - id: check-yaml-files
        name: Check YAML files match folder names, have descriptions and unique tags
        entry: python scripts/check_yaml_files.py
        language: python
        pass_filenames: false
        types: [yaml]
        additional_dependencies: [pyyaml]

      # TODO fix update-readme-table, gets stuck in infinite loop somehow
      # - id: update-readme-table
      #   name: Update readme.md table
      #   entry: python scripts/update_readme_table.py
      #   language: python
      #   pass_filenames: false
      #   types: [file]
      #   additional_dependencies: [pyyaml]

      - id: validate-typst
        name: Validate Typst files compile without errors
        language: system
        # xargs exit 255 to fail on first compile error https://stackoverflow.com/a/26485626/4034025
        # bash for-loop adapted from https://github.com/pre-commit/pre-commit/issues/394#issuecomment-588562966
        # typst check command tracked in https://github.com/typst/typst/issues/3792
        entry: bash -c 'for x in "$@"; do typst compile "$x" - > /dev/null || exit 255; done' --
        files: \.typ$
        types: [file]
