:root {
  --body-bg: #090019;

  --sms-options-bg: #1e1e2f;
  --sms-li-active-bg: cornflowerblue;

  --text-color: #eee;
}
body {
  background: var(--body-bg);
  padding: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: white;
}
:where(h1, h2, h3, h4, p, footer) {
  text-align: center;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}
button {
  color: var(--text-color);
  background: teal;
  border: none;
  outline: none;
  padding: 3pt 1ex;
  border-radius: 3pt;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}
button:hover {
  background: teal;
  transform: scale(1.02);
}
