:root {
  --body-bg: #090019;
}
body {
  background: var(--body-bg);
  padding: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: white;
  text-align: center;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}
button {
  font-size: 2ex;
  background: #3f51b5;
  border: none;
  outline: none;
  padding: 3pt 1ex;
  border-radius: 3pt;
  transition: transform 0.2s, background-color 0.2s;
  color: white;
  cursor: pointer;
}
button:hover {
  background: teal;
  transform: scale(1.02);
}
